<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') %>
  <body>
    <!-- Check Blogs Exist? -->
    <% if(blogs.length) { %>
    <!-- Loop Blogs -->
    <% blogs.forEach(blog => { %>
    <!-- About Card -->
    <a href="/blogs/<%= blog.id %>" style="color: #fff; text-decoration: none">
      <div class="about-card">
        <div class="about-title"><%= blog.title %></div>
        <div class="about-desc"><%= blog.intro %></div>
      </div>
    </a>
    <!-- End About Card -->
    <!-- End Loop -->
    <% }) %>
    <!-- End Check -->
    <% }%>

    <!-- Nav Bar  -->
    <%- include('./components/navbar.ejs') %>
  </body>
</html>
